*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 60%;
}

/* .seccion-colores {
    display: flex;
    border: 1px solid blue;
    flex-direction: column;
    width: 100vw;
    align-items: center;
} */

.container {
    color: floralwhite;
    border: 1px solid rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: grid;
    width: 100vw;
    grid-gap: 1px;
    background-color: #000000;
    padding: 1px;
  }
  
.grid-item {
   /*  background-color: rgba(255, 255, 255, 0.8); */
    text-align: center;
    padding: 0px;
    font-size: 30px;
}

.item1 {
    background-color: rgb(46, 46, 46);
    grid-column: 1 / span 3;
    grid-row: 1 / span 4;
  }
  
.item2 {
    background-color: rgb(46, 46, 46);
    grid-column: 20;
    grid-row: 1 / span 4;
}

.item3 {
    background-color: cyan;
    grid-column: 4 / span 16;
    grid-row: 1;
}

.item4 {
    background-color: rgb(251, 255, 0);
    grid-column: 4 / span 16;
    grid-row: 2;

}

.item5 {
    background-color: rgb(255, 136, 0);
    grid-column: 4 / span 16;
    grid-row: 3;
}

.item6 {
    background-color: firebrick;
    grid-column: 4 / span 16;
    grid-row: 4;
}
