*{
    font-family: "open sans";
}
.container{
    margin-top: 20px;
}
#carousel .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
}
#carousel .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/* .container {
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% 100px auto;
}
.item-a {
    grid-column-start: 3;
    grid-column-end: end;
    grid-row-start: third-line;
    grid-row-end: last-line;
} */
h1{
    font-size: 30px;
}
h4{
    font-size: 40px;
    text-align: center;
    margin-bottom: 2%;
}
h4 p{
    font-size: 12px;
    text-align: center;
    margin-left: 28%;
    margin-right: 28%;
    padding-top: 20px
}
/* .foto{
    object-fit: cover;
} */

.avatar-big {
    height:100px;
    width:100px;
}
  
.avatar-small {
height:50px;
width:50px;
}

.avatar-med {
height:75px;
width:75px;
}


.avatar-img {
width: 100%;
height: 100%;
-o-object-fit: cover;
object-fit: cover;
}

.rounded-circle {
border-radius: 50%;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}